body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display:  inline;
    color: black;
}
*/ esto es un standar de diseño para el body y los links */
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    justify-self: end;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns:  1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left:  50px;
}

nav .nav-logo-container img {
    width: 230px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
} 

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 960px;
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-text {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}

.home-main-button {
    width: 110px;
    height: 50px;
    background-color:#47cfac;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blog-main-new {
    display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size:  12px;
}

.blogs-post-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-post-container .post-container p {
    margin-bottom: 35px;
}

.blogs-post-container .post-container img {
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;

}

footer p {
    color: white;
    margin-top: 30px;
}


